
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    overflow-x: hidden; 
}

.wrapper {
    width: 95%;               
    max-width: 500px;         
    margin: 20px auto;        
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 22px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

p {
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease-in-out;
}

.input-box input:focus {
    border-color: #ffcc00;
    background-color: #fff;
}

input[readonly] {
    background-color: #e6e6e6;
    cursor: not-allowed;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #ffcc00;
    color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffaa00;
}

.input-box input#prize,
.input-box input#entry {
    font-weight: bold;
    color: #333;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .wrapper {
        padding: 15px;
    }

    h1 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    .input-box input,
    button {
        font-size: 14px;
        padding: 10px;
    }
}
